@font-face {
  font-family: 'mr-icon';
  src: url('../font/mr-icon.eot?83134566');
  src: url('../font/mr-icon.eot?83134566#iefix') format('embedded-opentype'),
       url('../font/mr-icon.woff2?83134566') format('woff2'),
       url('../font/mr-icon.woff?83134566') format('woff'),
       url('../font/mr-icon.ttf?83134566') format('truetype'),
       url('../font/mr-icon.svg?83134566#mr-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mr-icon';
    src: url('../font/mr-icon.svg?83134566#mr-icon') format('svg');
  }
}
*/
[class^="mr-icon-"]:before, [class*=" mr-icon-"]:before {
  font-family: "mr-icon";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.mr-icon-airtel:before { content: '\e800'; } /* '' */
.mr-icon-addon-debit-card:before { content: '\e801'; } /* '' */
.mr-icon-aadhar-reg:before { content: '\e802'; } /* '' */
.mr-icon-view:before { content: '\e803'; } /* '' */
.mr-icon-up-arrow:before { content: '\e804'; } /* '' */
.mr-icon-rupee:before { content: '\e805'; } /* '' */
.mr-icon-location:before { content: '\e806'; } /* '' */
.mr-icon-left-arrow:before { content: '\e807'; } /* '' */
.mr-icon--flip:before { content: '\e808'; } /* '' */
.mr-icon-downloads:before { content: '\e809'; } /* '' */
.mr-icon-down-arrow:before { content: '\e80a'; } /* '' */
.mr-icon-chart:before { content: '\e80b'; } /* '' */
.mr-icon-cancel:before { content: '\e80c'; } /* '' */
.mr-icon-calculator:before { content: '\e80d'; } /* '' */
.mr-icon-xls:before { content: '\e80e'; } /* '' */
.mr-icon-wifi-bill:before { content: '\e80f'; } /* '' */
.mr-icon-water-bill:before { content: '\e810'; } /* '' */
.mr-icon-vodafone:before { content: '\e811'; } /* '' */
.mr-icon-view-&-transact:before { content: '\e812'; } /* '' */
.mr-icon-view-only:before { content: '\e815'; } /* '' */
.mr-icon-view-1:before { content: '\e816'; } /* '' */
.mr-icon-visa:before { content: '\e817'; } /* '' */
.mr-icon-vodafone-1:before { content: '\e818'; } /* '' */
.mr-icon-water-bill-1:before { content: '\e819'; } /* '' */
.mr-icon-wifi-bill-1:before { content: '\e81a'; } /* '' */
.mr-icon-xls-1:before { content: '\e81b'; } /* '' */
.mr-icon-24px-calculator:before { content: '\e81c'; } /* '' */
.mr-icon-24px-cancel:before { content: '\e81d'; } /* '' */
.mr-icon-24px-chart:before { content: '\e81e'; } /* '' */
.mr-icon-24px-down-arrow:before { content: '\e81f'; } /* '' */
.mr-icon-24px-downloads:before { content: '\e820'; } /* '' */
.mr-icon-24px-left-arrow:before { content: '\e821'; } /* '' */
.mr-icon-24px-flip:before { content: '\e822'; } /* '' */
.mr-icon-24px-location:before { content: '\e823'; } /* '' */
.mr-icon-24px-rupee:before { content: '\e824'; } /* '' */
.mr-icon-24px-up-arrow:before { content: '\e825'; } /* '' */
.mr-icon-24px-view:before { content: '\e826'; } /* '' */
.mr-icon-aadhar-reg-1:before { content: '\e827'; } /* '' */
.mr-icon-addon-debit-card-1:before { content: '\e828'; } /* '' */
.mr-icon-airtel-1:before { content: '\e829'; } /* '' */
.mr-icon-alert:before { content: '\e82a'; } /* '' */
.mr-icon-alert60px:before { content: '\e82b'; } /* '' */
.mr-icon-all:before { content: '\e82c'; } /* '' */
.mr-icon-apply-fill:before { content: '\e82d'; } /* '' */
.mr-icon-apply-not-fill:before { content: '\e82e'; } /* '' */
.mr-icon-apply:before { content: '\e82f'; } /* '' */
.mr-icon-arrow-big:before { content: '\e830'; } /* '' */
.mr-icon-arrow-line:before { content: '\e831'; } /* '' */
.mr-icon-auto-close:before { content: '\e832'; } /* '' */
.mr-icon-auto-renew:before { content: '\e833'; } /* '' */
.mr-icon-axis:before { content: '\e834'; } /* '' */
.mr-icon-bank-account:before { content: '\e835'; } /* '' */
.mr-icon-bank-of-baroda:before { content: '\e836'; } /* '' */
.mr-icon-bank-of-maharashtra:before { content: '\e837'; } /* '' */
.mr-icon-bank:before { content: '\e838'; } /* '' */
.mr-icon-bill-payment:before { content: '\e839'; } /* '' */
.mr-icon-cable-operator-bill:before { content: '\e83a'; } /* '' */
.mr-icon-calculator-fill:before { content: '\e83b'; } /* '' */
.mr-icon-calculator-not-fill:before { content: '\e83c'; } /* '' */
.mr-icon-cancel-1:before { content: '\e83e'; } /* '' */
.mr-icon-challan:before { content: '\e83f'; } /* '' */
.mr-icon-change-home-branch:before { content: '\e840'; } /* '' */
.mr-icon-calendar:before { content: '\e841'; } /* '' */
.mr-icon-change-home-branch-1:before { content: '\e842'; } /* '' */
.mr-icon-chart-1:before { content: '\e843'; } /* '' */
.mr-icon-checkbox-selected:before { content: '\e844'; } /* '' */
.mr-icon-checkbox-unselected:before { content: '\e845'; } /* '' */
.mr-icon-copy:before { content: '\e846'; } /* '' */
.mr-icon-credit-card:before { content: '\e847'; } /* '' */
.mr-icon-credit-card32px:before { content: '\e848'; } /* '' */
.mr-icon-credit:before { content: '\e849'; } /* '' */
.mr-icon-cross-outline:before { content: '\e84a'; } /* '' */
.mr-icon-debit:before { content: '\e84b'; } /* '' */
.mr-icon-deactivate-mobile-banking:before { content: '\e84c'; } /* '' */
.mr-icon-default:before { content: '\e84d'; } /* '' */
.mr-icon-deposit:before { content: '\e84e'; } /* '' */
.mr-icon-doorstep-banking:before { content: '\e84f'; } /* '' */
.mr-icon-down-arrow-1:before { content: '\e850'; } /* '' */
.mr-icon-down:before { content: '\e851'; } /* '' */
.mr-icon-download:before { content: '\e852'; } /* '' */
.mr-icon-download24px:before { content: '\e853'; } /* '' */
.mr-icon-dth-bill:before { content: '\e854'; } /* '' */
.mr-icon-edit:before { content: '\e855'; } /* '' */
.mr-icon-educational-fess:before { content: '\e856'; } /* '' */
.mr-icon-electricity-bill:before { content: '\e857'; } /* '' */
.mr-icon-enable-transaction-facility:before { content: '\e858'; } /* '' */
.mr-icon-enter-pin:before { content: '\e859'; } /* '' */
.mr-icon-enter:before { content: '\e85a'; } /* '' */
.mr-icon-estatement-registration:before { content: '\e85b'; } /* '' */
.mr-icon-exim:before { content: '\e85c'; } /* '' */
.mr-icon-face-id:before { content: '\e85d'; } /* '' */
.mr-icon-failed:before { content: '\e85e'; } /* '' */
.mr-icon-fastag:before { content: '\e85f'; } /* '' */
.mr-icon-female:before { content: '\e860'; } /* '' */
.mr-icon-filled-star:before { content: '\e861'; } /* '' */
.mr-icon-filter:before { content: '\e862'; } /* '' */
.mr-icon-finger-print:before { content: '\e863'; } /* '' */
.mr-icon-fingerprint:before { content: '\e864'; } /* '' */
.mr-icon-flip:before { content: '\e865'; } /* '' */
.mr-icon-forgot-mpin:before { content: '\e866'; } /* '' */
.mr-icon-forgot-user-id:before { content: '\e867'; } /* '' */
.mr-icon-form16:before { content: '\e868'; } /* '' */
.mr-icon-frame-48097591:before { content: '\e869'; } /* '' */
.mr-icon-gas-cylinder-bill:before { content: '\e86a'; } /* '' */
.mr-icon-get-new-debit-card:before { content: '\e86b'; } /* '' */
.mr-icon-gold-card-scheme:before { content: '\e86c'; } /* '' */
.mr-icon-gpay:before { content: '\e86d'; } /* '' */
.mr-icon-hamburger:before { content: '\e86e'; } /* '' */
.mr-icon-hdfc:before { content: '\e86f'; } /* '' */
.mr-icon-help-&-support:before { content: '\e870'; } /* '' */
.mr-icon-help:before { content: '\e871'; } /* '' */
.mr-icon-help32px:before { content: '\e872'; } /* '' */
.mr-icon-hide:before { content: '\e873'; } /* '' */
.mr-icon-home:before { content: '\e874'; } /* '' */
.mr-icon-hotlist-card:before { content: '\e875'; } /* '' */
.mr-icon-icici:before { content: '\e876'; } /* '' */
.mr-icon-idbi:before { content: '\e877'; } /* '' */
.mr-icon-idfc:before { content: '\e878'; } /* '' */
.mr-icon-in-process:before { content: '\e879'; } /* '' */
.mr-icon-indian-oversease:before { content: '\e87a'; } /* '' */
.mr-icon-info:before { content: '\e87b'; } /* '' */
.mr-icon-info24px:before { content: '\e87c'; } /* '' */
.mr-icon-initial:before { content: '\e87d'; } /* '' */
.mr-icon-kcc--renewal:before { content: '\e87e'; } /* '' */
.mr-icon-kotak:before { content: '\e87f'; } /* '' */
.mr-icon-language-selection:before { content: '\e880'; } /* '' */
.mr-icon-language:before { content: '\e881'; } /* '' */
.mr-icon-left-arrow-1:before { content: '\e882'; } /* '' */
.mr-icon-life--insurance:before { content: '\e883'; } /* '' */
.mr-icon-link-a-card:before { content: '\e884'; } /* '' */
.mr-icon-loan:before { content: '\e885'; } /* '' */
.mr-icon-locate-me:before { content: '\e886'; } /* '' */
.mr-icon-location-1:before { content: '\e887'; } /* '' */
.mr-icon-logout:before { content: '\e888'; } /* '' */
.mr-icon-long-press:before { content: '\e889'; } /* '' */
.mr-icon-mandatory-inputs:before { content: '\e88b'; } /* '' */
.mr-icon-maturity-instruction:before { content: '\e88c'; } /* '' */
.mr-icon-maturity:before { content: '\e88d'; } /* '' */
.mr-icon-maturity32px:before { content: '\e88e'; } /* '' */
.mr-icon-menu:before { content: '\e88f'; } /* '' */
.mr-icon-mobile-app-&-net-banking:before { content: '\e890'; } /* '' */
.mr-icon-mobile-app:before { content: '\e891'; } /* '' */
.mr-icon-mobile-recharge:before { content: '\e892'; } /* '' */
.mr-icon-monthly:before { content: '\e893'; } /* '' */
.mr-icon-monthly32px:before { content: '\e894'; } /* '' */
.mr-icon-netflix:before { content: '\e895'; } /* '' */
.mr-icon-no-wifi:before { content: '\e896'; } /* '' */
.mr-icon-no-nominee:before { content: '\e897'; } /* '' */
.mr-icon-normal-tax:before { content: '\e898'; } /* '' */
.mr-icon-offers:before { content: '\e899'; } /* '' */
.mr-icon-offers32px:before { content: '\e89a'; } /* '' */
.mr-icon-online-mutual-funds:before { content: '\e89b'; } /* '' */
.mr-icon-online-trading:before { content: '\e89c'; } /* '' */
.mr-icon-open-recurring-deposits:before { content: '\e89d'; } /* '' */
.mr-icon-other:before { content: '\e89e'; } /* '' */
.mr-icon-other32px:before { content: '\e89f'; } /* '' */
.mr-icon-otp-and-mpin:before { content: '\e8a0'; } /* '' */
.mr-icon-outlined-star:before { content: '\e8a1'; } /* '' */
.mr-icon-pancard-1:before { content: '\e8a2'; } /* '' */
.mr-icon-pay-bills:before { content: '\e8a3'; } /* '' */
.mr-icon-pay:before { content: '\e8a4'; } /* '' */
.mr-icon-pdf:before { content: '\e8a5'; } /* '' */
.mr-icon-pending:before { content: '\e8a6'; } /* '' */
.mr-icon-pension:before { content: '\e8a7'; } /* '' */
.mr-icon-plus:before { content: '\e8a8'; } /* '' */
.mr-icon-pre-maturity-closure:before { content: '\e8ad'; } /* '' */
.mr-icon-property-down:before { content: '\e8ae'; } /* '' */
.mr-icon-property-up:before { content: '\e8af'; } /* '' */
.mr-icon-quarterly:before { content: '\e8b0'; } /* '' */
.mr-icon-quarterly32px:before { content: '\e8b1'; } /* '' */
.mr-icon-radio-selected:before { content: '\e8b2'; } /* '' */
.mr-icon-radio-unselected:before { content: '\e8b3'; } /* '' */
.mr-icon-raise-complaint:before { content: '\e8b4'; } /* '' */
.mr-icon-rating-star:before { content: '\e8b5'; } /* '' */
.mr-icon-release-long-press:before { content: '\e8b6'; } /* '' */
.mr-icon-rent:before { content: '\e8b7'; } /* '' */
.mr-icon-request-chequebook:before { content: '\e8b8'; } /* '' */
.mr-icon-reset-password:before { content: '\e8b9'; } /* '' */
.mr-icon-result-not-found:before { content: '\e8ba'; } /* '' */
.mr-icon-right-arrow:before { content: '\e8bb'; } /* '' */
.mr-icon-roi:before { content: '\e8bc'; } /* '' */
.mr-icon-rupee-1:before { content: '\e8bd'; } /* '' */
.mr-icon-rupee10px:before { content: '\e8be'; } /* '' */
.mr-icon-rupee24px:before { content: '\e8bf'; } /* '' */
.mr-icon-sbi:before { content: '\e8c0'; } /* '' */
.mr-icon-scan-&-pay:before { content: '\e8c1'; } /* '' */
.mr-icon-scan-and-pay-fill:before { content: '\e8c2'; } /* '' */
.mr-icon-scan-and-pay:before { content: '\e8c3'; } /* '' */
.mr-icon-scan-qr:before { content: '\e8c4'; } /* '' */
.mr-icon-search:before { content: '\e8c5'; } /* '' */
.mr-icon-selected:before { content: '\e8c6'; } /* '' */
.mr-icon-services:before { content: '\e8c7'; } /* '' */
.mr-icon-services32px:before { content: '\e8c8'; } /* '' */
.mr-icon-share:before { content: '\e8c9'; } /* '' */
.mr-icon-share24px:before { content: '\e8ca'; } /* '' */
.mr-icon-succes-outline:before { content: '\e8cb'; } /* '' */
.mr-icon-success:before { content: '\e8cc'; } /* '' */
.mr-icon-tax-saver:before { content: '\e8cd'; } /* '' */
.mr-icon-taxes:before { content: '\e8ce'; } /* '' */
.mr-icon-tick:before { content: '\e8cf'; } /* '' */
.mr-icon-timer:before { content: '\e8d0'; } /* '' */
.mr-icon-track-a-request:before { content: '\e8d1'; } /* '' */
.mr-icon-tranfer-funds:before { content: '\e8d2'; } /* '' */
.mr-icon-tranfer-funds32px:before { content: '\e8d3'; } /* '' */
.mr-icon-transactions:before { content: '\e8d4'; } /* '' */
.mr-icon-union-bank:before { content: '\e8d5'; } /* '' */
.mr-icon-unlock-user:before { content: '\e8d6'; } /* '' */
.mr-icon-unnames-bank:before { content: '\e8d7'; } /* '' */
.mr-icon-up-arrow-1:before { content: '\e8d8'; } /* '' */
.mr-icon-up:before { content: '\e8d9'; } /* '' */
.mr-icon-update-nominee:before { content: '\e8da'; } /* '' */
.mr-icon-upgrade-debit-card:before { content: '\e8db'; } /* '' */
.mr-icon-upi-payment:before { content: '\e8dc'; } /* '' */
.mr-icon-upi:before { content: '\e8dd'; } /* '' */
.mr-icon-upi-fill:before { content: '\e8de'; } /* '' */
.mr-icon-upload:before { content: '\e8df'; } /* '' */
.mr-icon-user-id-not-available:before { content: '\e8e0'; } /* '' */
.mr-icon-user-id:before { content: '\e8e1'; } /* '' */
